In [32]:
import pandas as pd

In [33]:
# prawdziwy wynik - koi_disposition
# wynik modelu - koi_pdisposition
# pewność modelu - koi_score
df = pd.read_csv('../data/data.csv')
# zostaw tylko kolumny powyżej
df = df[['koi_disposition', 'koi_pdisposition', 'koi_score']]
#zimeń nazwy kolumn na 'label', 'pred', 'score'
df.columns = ['label', 'pred', 'score']

In [34]:
df.head()

            label            pred  score
0       CONFIRMED       CANDIDATE  1.000
1       CONFIRMED       CANDIDATE  0.969
2       CANDIDATE       CANDIDATE  0.000
3  FALSE POSITIVE  FALSE POSITIVE  0.000
4       CONFIRMED       CANDIDATE  1.000

In [35]:
#encode making false positive values 0, confirmed 1, and candidate 0.5
df['label'] = df['label'].map({'FALSE POSITIVE': 0, 'CONFIRMED': 1, 'CANDIDATE': 0.5})
df['pred'] = df['pred'].map({'FALSE POSITIVE': 0, 'CONFIRMED': 1, 'CANDIDATE': 0.5})
df.head()

   label  pred  score
0    1.0   0.5  1.000
1    1.0   0.5  0.969
2    0.5   0.5  0.000
3    0.0   0.0  0.000
4    1.0   0.5  1.000

In [36]:
#for each combination of label and pred, print the number of occurences
print(df.groupby(['label', 'pred']).size())

#print all occurcences where pred is 0.5 and label is not 0.5 and not 0.0
print(df[(df['pred'] == 0.5) & (df['label'] != 0.5) & (df['label'] != 0) & (df['label'] != 1)])

label  pred
0.0    0.0     4838
       0.5        1
0.5    0.5     1982
1.0    0.0        9
       0.5     2734
dtype: int64
Empty DataFrame
Columns: [label, pred, score]
Index: []

In [37]:
#remove all rows where label is 0.5 because nasa has not confirmed these
df = df[df['label'] != 0.5]

In [38]:
#change encoding of pred from 0.5 to 1 bo model przewidywał tylko candidate
df['pred'] = df['pred'].map({0: 0, 1: 1, 0.5: 1})

In [39]:
df.head()

   label  pred  score
0    1.0     1  1.000
1    1.0     1  0.969
3    0.0     0  0.000
4    1.0     1  1.000
5    1.0     1  1.000

In [40]:
#check how many true positives, true negatives, false positives and false negatives there are
tp = len(df[(df['label'] == 1) & (df['pred'] == 1)])
tn = len(df[(df['label'] == 0) & (df['pred'] == 0)])
fp = len(df[(df['label'] == 0) & (df['pred'] == 1)])
fn = len(df[(df['label'] == 1) & (df['pred'] == 0)])
print(tp, tn, fp, fn)

2734 4838 1 9

In [41]:
#check if there is any row where pred is 0 and label is 1
print(df[(df['pred'] == 0) & (df['label'] == 1)])
#check if there is any row where pred is 1 and label is 0
print(df[(df['pred'] == 1) & (df['label'] == 0)])

      label  pred  score
274     1.0     0  0.920
519     1.0     0  1.000
778     1.0     0  0.041
953     1.0     0  0.920
2210    1.0     0    NaN
2767    1.0     0  0.973
3043    1.0     0  0.374
3385    1.0     0  0.999
7632    1.0     0    NaN
      label  pred  score
2244    0.0     1    1.0

In [42]:
#check accuracy of nasa model
print("Recall: ", tp / (tp + fn))

Recall:  0.996718920889537