In [18]:
import pandas as pd

In [39]:
# prawdziwy wynik - koi_disposition
# wynik modelu - koi_pdisposition
# pewność modelu - koi_score
df = pd.read_csv('data/data.csv')
# zostaw tylko kolumny powyżej
df = df[['koi_disposition', 'koi_pdisposition', 'koi_score']]
#zimeń nazwy kolumn na 'label', 'pred', 'score'
df.columns = ['label', 'pred', 'score']

In [40]:
df.head()

            label            pred  score
0       CONFIRMED       CANDIDATE  1.000
1       CONFIRMED       CANDIDATE  0.969
2       CANDIDATE       CANDIDATE  0.000
3  FALSE POSITIVE  FALSE POSITIVE  0.000
4       CONFIRMED       CANDIDATE  1.000

In [41]:
#encode making false positive values 0, confirmed 1, and candidate 0.5
df['label'] = df['label'].map({'FALSE POSITIVE': 0, 'CONFIRMED': 1, 'CANDIDATE': 0.5})
df['pred'] = df['pred'].map({'FALSE POSITIVE': 0, 'CONFIRMED': 1, 'CANDIDATE': 0.5})
df.head()

   label  pred  score
0    1.0   0.5  1.000
1    1.0   0.5  0.969
2    0.5   0.5  0.000
3    0.0   0.0  0.000
4    1.0   0.5  1.000

In [45]:
#for each combination of label and pred, print the number of occurences
print(df.groupby(['label', 'pred']).size())

#print all occurcences where pred is 0.5 and label is not 0.5 and not 0.0
print(df[(df['pred'] == 0.5) & (df['label'] != 0.5) & (df['label'] != 0) & (df['label'] != 1)])

label  pred
0.0    0.0     4838
       0.5        1
0.5    0.5     1982
1.0    0.0        9
       0.5     2734
dtype: int64
Empty DataFrame
Columns: [label, pred, score]
Index: []

In [ ]:
#remove all rows where label is 0.5 because nasa has not confirmed these
df = df[df['label'] != 0.5]

In [ ]:
#change encoding of pred from 0.5 to 1 bo model przewidywał tylko candidate
df['pred'] = df['pred'].map({0: 0, 1: 1, 0.5: 1})

In [50]:
df.head()

   label  pred  score
0    1.0     1  1.000
1    1.0     1  0.969
3    0.0     0  0.000
4    1.0     1  1.000
5    1.0     1  1.000

In [53]:
#check accuracy of nasa model
print("Accuracy of NASA model:")
print((df['label'] == df['pred']).sum() / df.shape[0])

Accuracy of NASA model:
0.9986810867844896